Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
psycopg2-binary==2.9.6
requests==2.31.0
beautifulsoup4==4.12.2
APScheduler==3.10.1
SQLAlchemy==2.0.19
alembic==1.11.1
apscheduler=3.11.2
strava-cz==0.1.3

