<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">




<section id="přehled" class="bg-light pt-4 pb-5 px-5">

    <div.container-lg class="">
        <div class="text-center my-5">
            <h2>Rozvrh hodin</h2>
        </div>
    </div.container-lg>

<body style="background-color:#f8f9fa;"></body>

    <div class="container px-5">
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <h4>1</h4>
                        <p class="my-0">8:00-8:45</p>
                    </th>
                    <th scope="col">
                        <h4>2</h4>
                        <p class="my-0">8:55-9:40</p>
                    </th>
                    <th scope="col">
                        <h4>3</h4>
                        <p class="my-0">10.00-10:45</p>
                    </th>
                    <th scope="col">
                        <h4>4</h4>
                        <p class="my-0">10:55-11:40</p>
                    </th>
                    <th scope="col">
                        <h4>5</h4>
                        <p class="my-0">11:50-12:35</p>
                    </th>
                    <th scope="col">
                        <h4>6</h4>
                        <p class="my-0">12:45-13:30</p>
                    </th>
                    <th scope="col">
                        <h4>7</h4>
                        <p class="my-0">13:35-14:20</p>
                    </th>
                    <th scope="col">
                        <h4>8</h4>
                        <p class="my-0">14:25-15:10</p>
                    </th>
                    <th scope="col">
                        <h4>9</h4>
                        <p class="my-0">15:15-16:00</p>
                    </th>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">
                        <div class="col">Po</div>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <div class="col">Út</div>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <div class="col">St</div>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <div class="col">Čt</div>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">
                        <div class="col">Pá</div>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col text-start">sk</div>
                            <div class="col text-end">#</div>
                        </div>
                        <div class="row row-cols-1">
                            <div class="col text-center fw-bold">Pt</div>
                            <div class="col text-center">Prof</div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
    </div>
</section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
