<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        #schedule-tbody th[scope="row"] {
            vertical-align: middle !important; /* Centers text vertically */
            text-align: center !important;    /* Centers text horizontally */
        }
        /* Space above the text */
        .button-container-spacing {
            margin-top: 4rem !important; 
        }
    
    </style>

</head>



        <nav class="navbar bg-primary">
            <div class="container-fluid">
                <div class="card col-1 text-center bg-light">
                    <a href="/" class="icon-link icon-link-hover ms-3" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                        Domovská stránka
                    </a>
                </div>
            </div>
        </nav>


<section id="přehled" class="bg-light pt-4 pb-5 px-5">

    <div.container-lg class="">
        <div class="text-center my-5">
            <h2>Rozvrh hodin</h2>
        </div>
    </div.container-lg>

<body style="background-color:#f8f9fa;"></body>

    <div class="container px-5">
            <table class="table table-bordered text-center" id="schedule-table">
                <thead class="table-dark">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <h4>1</h4>
                        <p class="my-0">8:00-8:45</p>
                    </th>
                    <th scope="col">
                        <h4>2</h4>
                        <p class="my-0">8:55-9:40</p>
                    </th>
                    <th scope="col">
                        <h4>3</h4>
                        <p class="my-0">10:00-10:45</p>
                    </th>
                    <th scope="col">
                        <h4>4</h4>
                        <p class="my-0">10:55-11:40</p>
                    </th>
                    <th scope="col">
                        <h4>5</h4>
                        <p class="my-0">11:50-12:35</p>
                    </th>
                    <th scope="col">
                        <h4>6</h4>
                        <p class="my-0">12:45-13:30</p>
                    </th>
                    <th scope="col">
                        <h4>7</h4>
                        <p class="my-0">13:35-14:20</p>
                    </th>
                    <th scope="col">
                        <h4>8</h4>
                        <p class="my-0">14:25-15:10</p>
                    </th>
                    <th scope="col">
                        <h4>9</h4>
                        <p class="my-0">15:15-16:00</p>
                    </th>
                </thead>
                <tbody id="schedule-tbody">
                    <!-- Schedule rows will be inserted here dynamically -->
                </tbody>
            </table>
    </div>
    <div class="container px-5 text-center mt-5 mb-4">
                <label class="me-2">Týden:</label>
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="week-option" id="week-all" value="all" checked>
                    <label class="btn btn-outline-primary" for="week-all">Všechny</label>

                    <input type="radio" class="btn-check" name="week-option" id="week-even" value="S">
                    <label class="btn btn-outline-primary" for="week-even">Sudý</label>

                    <input type="radio" class="btn-check" name="week-option" id="week-odd" value="L">
                    <label class="btn btn-outline-primary" for="week-odd">Lichý</label>
                </div>
    </div>
</section>

<!-- Templates for schedule cells -->
<template id="lesson-cell-template">
    <td>
        <div class="row">
            <div class="col text-start group-text"></div>
            <div class="col text-end room-text"></div>
        </div>
        <div class="row row-cols-1">
            <div class="col text-center fw-bold subject-text"></div>
            <div class="col text-center teacher-text"></div>
        </div>
    </td>
</template>

<template id="multiple-lessons-cell-template">
    <td class="bg-warning-subtle">
        <small>Multiple groups:</small>
    </td>
</template>

<template id="lesson-item-template">
    <div class="row mb-1">
        <div class="col text-start"><small class="group-text"></small></div>
        <div class="col text-end"><small class="room-text"></small></div>
    </div>
    <div class="row row-cols-1">
        <div class="col text-center fw-bold"><small class="subject-text"></small></div>
        <div class="col text-center"><small class="teacher-text"></small></div>
    </div>
</template>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/static/js/schedule.js"></script>

